bin/
obj/
TestResults/

*.cache
*.mdb

*.user
*.suo
*.userosscache
*.sln.docstates

wwwroot/lib/
wwwroot/npm/

*.db
*.db-shm
*.db-wal
# Migrations/  # odkomentuj, jeśli NIE chcesz trzymać migracji w repo

*.log
logs/

.vscode/
.idea/
_ReSharper*/
*.DotSettings.user

.DS_Store
Thumbs.db
