bin/
obj/
TestResults/

*.cache
*.mdb

*.user
*.suo
*.userosscache
*.sln.docstates

wwwroot/lib/
wwwroot/npm/
Api/appsettings.Development.json

*.db
*.db-shm
*.db-wal
# Migrations/  # odkomentuj, jeśli NIE chcesz trzymać migracji w repo
GEMINI.md

*.log
logs/

.vscode/
.idea/
_ReSharper*/
*.DotSettings.user

.DS_Store
Thumbs.db
