services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: mailbox
      POSTGRES_PASSWORD: mailbox123
      POSTGRES_DB: mailboxdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
